/*******************************/
/*****     FONTS START     *****/
/*******************************/

@font-face {
  font-family: "Poppins";
  src: url("fonts/Poppins-Bold.woff2") format("woff2"),
    url("fonts/Poppins-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.woff2") format("woff2"),
    url("../fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.woff2") format("woff2"),
    url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.woff2") format("woff2"),
    url("../fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/*******************************/
/*****       FONTS END     *****/
/*******************************/

/*******************************/
/*****  GENERAL CSS START  *****/
/*******************************/
:root {
  --main-bg-color: #fff;
  --main-text-color: #22343d;
  --main-bg-product: url("../images/product-bgi.png");
  --main-bg-process: url("../images/process-bgi.png");
}

.dark {
  --main-bg-color: #1f2e35;
  --main-text-color: #fff;
  --main-bg-product: url("../images/product-bgi-dark.png");
  --main-bg-process: url("../images/process-bgi-dark.png");
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

main {
  flex-grow: 1;
}

img {
  vertical-align: middle;
  object-fit: cover;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}

/*******************************/
/*****   GENERAL CSS END   *****/
/*******************************/

.clients {
  padding: 50px 0 0;
}

.clients__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 390px;
  margin: 38px auto 0;
  padding: 0;
  list-style-type: none;
}

.clients__item + .clients__item + .clients__item {
  margin-top: 55px;
}

.clients__title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
  color: var(--main-text-color);
}

@media only screen and (max-width: 430px) {
  .clients__list {
    flex-direction: column;
  }
  .clients__item {
    margin-top: 55px;
  }
}

@media only screen and (min-width: 1024px) {
  .clients__list {
    max-width: 850px;
    flex-wrap: nowrap;
    flex-direction: row;
  }

  .clients__item + .clients__item + .clients__item {
    margin-top: 0px;
  }

  .clients__title {
    font-size: 40px;
    line-height: 60px;
  }
}

/***************************/
/*****     PRODUCT     *****/
/***************************/
.product {
  margin: 77px 0 0;
  background-color: var(--main-bg-color);
  background-image: none;
}

.product__title {
  margin: 0 0 50px;
  padding: 0;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: var(--main-text-color);
}

.product__item {
  width: 100%;
  max-width: 350px;
  padding: 33px 30px;
  border: 1px solid #dedede;
  border-radius: 10px;
}

.product__item + .product__item {
  margin-top: 32px;
}

.product__item::before {
  margin-bottom: 32px;
}

.time::before {
  background-image: url("../images/fastest.svg");
}

.product__text-inner {
  width: 100%;
  max-width: 275px;
}

.product__text {
  margin: 16px 0 0;
}

/******************/
/***   MOBILE   ***/
/******************/

@media only screen and (min-width: 1024px) {
  .product__title {
    margin-bottom: 0px;
  }

  .product__list {
    margin-top: 50px;
  }

  .product__item::before {
    margin: 0 auto 32px;
  }

  .product__item + .product__item {
    margin-top: 0px;
  }

  .product__name {
    text-align: center;
  }

  .product__text {
    text-align: center;
  }
}

/*******************************/
/*****     PRODUCT END     *****/
/*******************************/

/*************************/
/*****     STEPS     *****/
/*************************/
.steps {
  padding: 96px 0 70px;
}

.steps__title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: var(--main-text-color);
}

.steps__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 70px 0 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.steps__item {
  width: 100%;
  max-width: 355px;
}

.steps__item + .steps__item {
  margin-top: 65px;
}

.steps__number {
  display: block;
  margin: 0 0 16px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  color: #22343d;
}

.steps__pic {
  width: 100%;
  max-width: 349px;
  max-width: 195px;
  margin: 0 0 80px;
}

.steps__name {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #22343d;
  text-align: left;
}

.steps__text {
  margin: 16px 0 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #22343d;
  text-align: left;
}

.steps__link {
  display: none;
}

/******************/
/***   DESKTOP  ***/
/******************/

@media only screen and (min-width: 1024px) {
  .steps {
    padding: 100px 0 0;
  }

  .steps__list {
    max-width: 1026px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .steps__item {
    display: flex;
    justify-content: space-between;
    max-width: 1026px;
  }

  .steps__item + .steps__item {
    margin-top: 100px;
  }

  .steps__item:nth-child(2n + 0) {
    flex-direction: row-reverse;
  }

  .steps__pic {
    max-width: 500px;
    max-height: 280px;
  }

  .steps__link {
    display: block;
    width: 100%;
    max-width: 225px;
    margin: 77px auto 0;
    text-align: center;
  }
}

/*****************************/
/*****     STEPS END     *****/
/*****************************/

/**************************/
/*****     OFFERS     *****/
/**************************/
.offers {
  padding: 30px 0;
  background-color: #f5f5f5;
}

.offers__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #22343d;
}

.offers__list {
  margin: 85px auto 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.offers__item {
  margin: 0 auto;
}

.offers__item::before {
  content: "";
  display: block;
  width: 150px;
  height: 150px;
  margin: 0 auto 35px;
  background-repeat: no-repeat;
}

.buisness::before {
  background-image: url("../images/offers-business.svg");
}

.enterprice::before {
  background-image: url("../images/offers-enterprice.svg");
}

.offers__sublist {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

.offers__name {
  margin: 0 0 16px;
  padding: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.offers__subtext {
  margin: 8px 0 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #22343d;
}

/******************************/
/*****     OFFERS END     *****/
/******************************/
